<h1>Hi <%= @user.email %>,<h1>

<p>To reset your password on Forever Home, please go to the <a href="http://localhost:4000/login">login</a> page and use the following password to login: <%=@user.password %></p>

<p>From there, you can navigate to your Account page to update to your new, desired password</p>

<p>If you run into any issues, please feel free to email us at foreverhome.aec@gmail.com. Thanks and have a great day!</p>